# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
build/
coverage/
.npm/

# Environment files
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
